<!DOCTYPE html>
<html lang="en">
@{
    await Html.RenderPartialAsync("_Head");
}

<body class="bg-gradient-primary">
    @RenderBody()
    @{
        await Html.RenderPartialAsync("_Scripts");
    }
</body>

</html>
